---
import AnimeList from "../components/AnimeList.svelte";
import NoCorsCheck from "../components/NoCorsCheck.svelte";
import SearchBar from "../components/SearchBar.svelte";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-zinc-900 text-white px-10 py-10">
		
		<NoCorsCheck client:load>
			<SearchBar client:load/>
			<AnimeList client:load/>
		</NoCorsCheck>

	</body>
</html>
