---
import AnimePage from "../../components/AnimePage.svelte";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>JapanWatch</title>
	</head>
	<body class="bg-zinc-900 text-white px-10 py-10">
		
<AnimePage></AnimePage>

	</body>
</html>
